// Colors

// Cool
$aqua: #23b9cb;
$aqua-crisp: #1cd8ed;
$blue-lightest: #e7edf4;
$dark-aqua: darken(#009A9F, 5%);
$dusty-purple: #A9B3CE;

// Warm
$yellow: #f2bb05;

// Grayscale
$black: #030405;
$cinder: #12131a;
$gunpowder: #3D3D4E;
$silver: #757575;
$off-white: #ececec;
$white: #fff;

// Colors from Milligram
$color-initial: $white;
$color-primary: $aqua;
$color-secondary: $gunpowder; // 606c76 !default;
$color-tertiary: $off-white !default;
$color-quaternary: #d3d4d5 !default;
$color-quinary: #e1dedd !default;

// Experimental:

$salmon: #F4989C;