
// Fonts
$serif: 'Playfair Display', 'Georgia', 'Times New Roman', serif;
$sans-serif: 'Lato', 'Helvetica Neue', Arial, sans-serif;

// Borders
$border--silver: 1px solid $silver;
$border--offwhite: 1px solid #eee;
