// Container
$container-width: 1800px;

// Breakpoints
$xs: 380px;
$s-and-up: 381px;
$s:  381px 600px;
$m-and-up: 601px;
$m:  601px 780px;
$l:  781px 1200px;
$l-and-up: 781px;
$xl: 1201px;

.layout-container {
  max-width: $container-width;
  width: 95%;
  margin: 0 auto;

  @include breakpoint($m-and-up) {
    width: 85%;
  }
}

// Content columns
.wrapper__layout {
  display: block;
  padding: 1em 0;
}
@include breakpoint($l-and-up) {
  .wrapper__layout {
    display: grid;
    grid-gap: 2em;
  }

  &.two-col__right-content {
    grid-template-columns: 3fr 1fr;
    grid-template-rows: 1fr;
  }

  &.two-col__left-content {
    grid-template-columns: 1fr 3fr;
    grid-template-rows: 1fr;

    .layout-content {
      grid-column-start: 2;
      grid-column-end: 3;
      grid-row-start: 1;
      grid-row-end: 2;
    }

    .layout-sidebar-first {
      grid-column-start: 1;
      grid-column-end: 2;
    }
  }
}

//
aside {
  border-left: 1px solid $off-white;
}
